<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <center>
    <h2>Contact Information</h2>
  <main class="contactListTable">
  
    <div class="row">
      <div class="col-md-offset-3 col-md-8">
      </center>
        <% if(typeof displayName == 'string' && displayName) { %>
        <a href="/contact-list/add" class="btn btn-primary" role="button">
        <i class ="fas fa-plus-circle"></i> Add a contact
     <%}%>
        </a>
        <br />
      
        <table class="table table-bordered table-striped table-hover table-center">
          <!--HEader row-->
          <tr>
            <th class="text-center" style="color: red">First Name</th>
            <th class="text-center" style="color: red">Last Name</th>
            <th class="text-center" style="color: red">Phone Number</th>
            <th class="text-center" style="color: red">Email Address</th>
            <% if(typeof displayName == 'string' && displayName) { %>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <%}%>
          </tr>
  
          <!--Repetable Templet row-->
          <% for (let count=0; count<contactList.length; count++){%>
            <tr>
              <td class="text-center " style="color: red"><%=contactList[count].first %></td>
              <td class="text-center " style="color: red"><%=contactList[count].last %></td>
              <td class="text-center " style="color: red"><%=contactList[count].phone %></td>
              <td class="text-center " style="color: red"><%=contactList[count].email %></td>
            
              
              <% if(typeof displayName == 'string' && displayName) { %>
              <td class="text-center col-1">
                <a href="/contact-list/edit/<%= contactList[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>
            </td>
            <td class="text-center col-1">
                <a href="/contact-list/delete/<%= contactList[count]._id %>" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Delete</a>
            </td>
            <%}%>
            </tr>
          <%}%>
        </table>
      
      </div>
    </div>
  </main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





