<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3>Contacts List Information</h3>
  
        <!--Add button that allows user to add contact-->
        <a href="/contact/add" class="btn btn-primary" role="button"
          ><i class="fa fa-plus"></i> Add Contacts</a>
  
        <br />
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Phone Number</th>
                <th class="text-center">Email Address</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <!-- Template Row -->
              <% for (let count = 0; count < contact.length; count++) { %>
              <tr>
                <td><%= contact[count].first %></td>
                <td class="text-center"><%= contact[count].last %></td>
                <td class="text-center"><%= contact[count].phone %></td>
                <td class="text-center"><%= contact[count].email %></td>
  
              </td>
              <!--Edit button that allows user to edit contact-->
                <td class="text-center">
                  <a href="/contact/edit/<%= contact[count]._id %>" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i> Edit</a>
                    </td>
                    <!--Delete button that allows user to delete contact-->
                    <td class="text-center ">
                      <a href="contact/delete/<%= contact[count]._id %>" class="btn btn-danger btn-sm">
                        <i class="fa fa-remove"></i>Delete</a>
                      </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
    
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





